" General settings
set autowrite
set expandtab
set fileformat=unix
set ignorecase
set nohlsearch
set noshowmatch
set noshowmode
set noswapfile
set smartcase
set surround " emulates vim-surround

" Key Mappings
inoremap jk <ESC>
vnoremap jk <ESC>
